.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__yaOns {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-QEjS0QO9iJCS6d);
  display: flex;
  min-width: 0;
}
.freeBox__yaOns > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__yaOns > :global(.__wab_flex-container) > *,
.freeBox__yaOns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yaOns > :global(.__wab_flex-container) > picture > img,
.freeBox__yaOns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__l1Yq5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__l1Yq5 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__l1Yq5 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__l1Yq5 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__l1Yq5 > :global(.__wab_flex-container) > *,
.columns__l1Yq5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__l1Yq5 > :global(.__wab_flex-container) > picture > img,
.columns__l1Yq5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l1Yq5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l1Yq5 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l1Yq5 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l1Yq5 > :global(.__wab_flex-container) > *,
  .columns__l1Yq5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__l1Yq5 > :global(.__wab_flex-container) > picture > img,
  .columns__l1Yq5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__w4Xtf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__w4Xtf {
    width: 100%;
  }
}
.freeBox__sYAm {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__sYAm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__sYAm > :global(.__wab_flex-container) > *,
.freeBox__sYAm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sYAm > :global(.__wab_flex-container) > picture > img,
.freeBox__sYAm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sYAm {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sYAm > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__iSkTa {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__bl6X2 {
  position: relative;
  text-align: left;
}
.bullet__euWcG:global(.__wab_instance) {
  position: relative;
}
.bullet__ick2M:global(.__wab_instance) {
  position: relative;
}
.bullet___8AAkK:global(.__wab_instance) {
  position: relative;
}
.text___01Rp {
  position: relative;
  text-align: left;
}
.freeBox__eBIyM {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__eBIyM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__eBIyM > :global(.__wab_flex-container) > *,
.freeBox__eBIyM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eBIyM > :global(.__wab_flex-container) > picture > img,
.freeBox__eBIyM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eBIyM {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eBIyM > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eBIyM > :global(.__wab_flex-container) > *,
  .freeBox__eBIyM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eBIyM > :global(.__wab_flex-container) > picture > img,
  .freeBox__eBIyM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__ncEt:global(.__wab_instance) {
  position: relative;
}
.svg__ftJN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qdDkL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zTNh:global(.__wab_instance) {
  position: relative;
}
.svg___7Gpo4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__j3Xaq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__s9ZW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__s9ZW {
    width: 100%;
  }
}
.img__kf6Km {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__kf6Km > picture > img {
  object-fit: cover;
}
.img__kf6Km > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__a9WTr {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__a9WTr > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__a9WTr > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__a9WTr > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__a9WTr > :global(.__wab_flex-container) > *,
.columns__a9WTr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__a9WTr > :global(.__wab_flex-container) > picture > img,
.columns__a9WTr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a9WTr {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a9WTr > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a9WTr > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a9WTr > :global(.__wab_flex-container) > *,
  .columns__a9WTr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__a9WTr > :global(.__wab_flex-container) > picture > img,
  .columns__a9WTr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__zyv2V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zyv2V {
    width: 100%;
  }
}
.img__bnGz {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__bnGz > picture > img {
  object-fit: cover;
}
.img__bnGz > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__jyHaJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jyHaJ {
    width: 100%;
  }
}
.freeBox__g0Uua {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__g0Uua > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__g0Uua > :global(.__wab_flex-container) > *,
.freeBox__g0Uua > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g0Uua > :global(.__wab_flex-container) > picture > img,
.freeBox__g0Uua
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g0Uua {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g0Uua > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__raKi5 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__pe53V {
  position: relative;
  text-align: left;
}
.bullet__o52X2:global(.__wab_instance) {
  position: relative;
}
.bullet__fYMnO:global(.__wab_instance) {
  position: relative;
}
.bullet__jjw9E:global(.__wab_instance) {
  position: relative;
}
.text__f4Cf9 {
  position: relative;
  text-align: left;
}
.freeBox__zeTy2 {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__zeTy2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__zeTy2 > :global(.__wab_flex-container) > *,
.freeBox__zeTy2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zeTy2 > :global(.__wab_flex-container) > picture > img,
.freeBox__zeTy2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zeTy2 {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zeTy2 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zeTy2 > :global(.__wab_flex-container) > *,
  .freeBox__zeTy2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zeTy2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__zeTy2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__s6Etx:global(.__wab_instance) {
  position: relative;
}
.svg__oQ8B6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__k4Asr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__anvEr:global(.__wab_instance) {
  position: relative;
}
.svg__pbVtn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__aZe2R {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
