.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__ueKn8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__fbGfW {
  flex-direction: column;
  display: flex;
}
.freeBox__fbGfW > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fbGfW > :global(.__wab_flex-container) > *,
.freeBox__fbGfW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fbGfW > :global(.__wab_flex-container) > picture > img,
.freeBox__fbGfW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text__cxUcJ {
  font-size: 48px;
}
.freeBox__izEu {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__izEu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__izEu > :global(.__wab_flex-container) > *,
.freeBox__izEu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__izEu > :global(.__wab_flex-container) > picture > img,
.freeBox__izEu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__lFr0X:global(.__wab_instance) {
  position: relative;
}
.bullet__evAc:global(.__wab_instance) {
  position: relative;
}
.bullet__af6Qd:global(.__wab_instance) {
  position: relative;
}
.freeBox__k5Q8J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__bCE7:global(.__wab_instance) {
  position: relative;
}
.svg__a9Cni {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__rzIxd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fWSx8 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
